@model IEnumerable<DTO.EntityDTO.PostDTO>


<div class="sports-top">
    <div class="s-grid-left">
        <div class="cricket">
            <header>
                <h3 class="title-head">Siyasət</h3>
            </header>
            @foreach (var item in ViewBag.siyaset)
            {
                <div class="s-grid-small">
                    <div class="sc-image">
                        <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id"><img src="@item.Image1" alt="" /></a>
                    </div>
                    <div class="sc-text">
                        <h6>@item.Title</h6>
                        <p class="date">@item.Time.ToString("dd-MMMM-yyyy")</p>
                        <a class="reu" asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id"><img src="~/web/images/more.png" alt="" /></a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            }
        </div>
    </div>
    <div class="s-grid-right">
        <div class="cricket">
            <header>
                <h3 class="title-popular">İdman</h3>
            </header>
            @foreach (var item in ViewBag.idman)
            {
                <div class="s-grid-small">
                    <div class="sc-image">
                        <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id"><img src="@item.Image1" alt="" /></a>
                    </div>
                    <div class="sc-text">
                        <h6>@item.Title</h6>
                        <p class="date">@item.Time.ToString("dd-MMMM-yyyy")</p>
                        <a class="reu" asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id"><img src="~/web/images/more.png" alt="" /></a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            }
        </div>
    </div>
    <div class="clearfix"></div>
</div>


