@model DTO.EntityDTO.PostDTO
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-body">
	<div class="wrap">
		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">Single Page</li>
		</ol>
		<div class="single-page">
			<div class="col-md-2 share_grid">
				<h3>SHARE</h3>
				<ul>
					<li>
						<a asp-controller="Home" asp-action="Detail" asp-route-id="@Model.Id">
							<i class="facebook"></i>
							<div class="views">
								<span>SHARE</span>
								<label>180</label>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
					<li>
						<a asp-controller="Home" asp-action="Detail" asp-route-id="@Model.Id">
							<i class="twitter"></i>
							<div class="views">
								<span>TWEET</span>
								<label>355</label>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
					<li>
						<a asp-controller="Home" asp-action="Detail" asp-route-id="@Model.Id">
							<i class="linkedin"></i>
							<div class="views">
								<span>SHARES</span>
								<label>28</label>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
					<li>
						<a asp-controller="Home" asp-action="Detail" asp-route-id="@Model.Id">
							<i class="pinterest"></i>
							<div class="views">
								<span>PIN</span>
								<label>16</label>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
					<li>
						<a asp-controller="Home" asp-action="Detail" asp-route-id="@Model.Id">
							<i class="email"></i>
							<div class="views">
								<span>Email</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
				</ul>
			</div>
			<div class="col-md-6 content-left single-post">
				<div class="blog-posts" style="margin-bottom:50px;">
					<img src="@Model.Image1"  style="width:100%"/>
				</div>
				<div class="blog-posts">
					<h3 class="post">@Model.Title</h3>
					<div class="last-article">
						<p class="artext">
							@Model.Text
						</p>

						<ul class="categories">
							@foreach (var item in ViewBag.cat)
							{
								<li><a asp-controller="Home" asp-action="Page" asp-route-id="@item.Id">@item.Name</a></li>
							}
						</ul>
						<div class="clearfix"></div>
						@await Component.InvokeAsync("CommentList")
						<div class="coment-form">
							<h4>Şərh yazın.</h4>
							<form asp-controller="Home" asp-action="CommentAdd" method="post">
								<span>@ViewBag.error</span>
								<input type="text" value="İstifadəçi adınızı daxil edin..." name="UserName" >
								<input type="hidden" value="@Model.Id" name="PostID">
								<textarea value="Şərhinizi daxil edin..." name="Text">Şərhinizi daxil edin...</textarea>
								<input type="submit" value="Paylaşin">
							</form>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="col-md-4 side-bar">
				<div class="first_half">
					<div class="categories">
						<header>
							<h3 class="side-title-head">Kateqoriyalar</h3>
						</header>
						<ul>
							@foreach (var item in ViewBag.allcat)
							{
								<li><a asp-controller="Home" asp-action="Page" asp-route-id="@item.Id">@item.Name</a></li>
							}
						</ul>
					</div>
					
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
