@model IEnumerable<DTO.EntityDTO.PostDTO>
@{
    ViewData["Title"] = "Home Page";
}

<div class="main-body">
    <div class="wrap">
        <div class="col-md-8 content-left">

            <partial name="~/Views/Partial/_SliderPartial.cshtml" />

            <div class="articles">
                <header>
                    <h3 class="title-head">Yeni Xəbərlər</h3>
                </header>
                @foreach (var item in Model.Take(4))
                {
                    <div class="article">
                        <div class="article-left">
                            <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">
                                <img src="@item.Image1">
                            </a>
                        </div>
                        <div class="article-right">
                            <div class="article-title">
                                <p>
                                    Tarix: @item.Time.ToString("dd-MMMM-yyyy") <a class="span_link" asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">
                                        <span class="glyphicon glyphicon-comment"></span>0
                                    </a><a class="span_link"
                                           asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id"><span class="glyphicon glyphicon-eye-open"></span>104 </a><a class="span_link" asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">
                                        <span class="glyphicon glyphicon-thumbs-up"></span>52
                                    </a>
                                </p>
                                @if (item.Title.Length > 50)
                                {
                                    <a class="title" asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">
                                        @item.Title.Remove(50)...
                                    </a>
                                }
                                else
                                {
                                    <a class="title" asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">
                                        @item.Title
                                    </a>
                                }
                            </div>
                            <div class="article-text">
                                @if (item.Text.Length > 250)
                                {
                                    <p>
                                        @item.Text.Remove(250)...
                                    </p>
                                }
                                else
                                {
                                    <p>
                                        @item.Text
                                    </p>

                                }
                                <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id"><img src="~/web/images/more.png" alt="" /></a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                }

            </div>

            @await Component.InvokeAsync("NewsList")
        </div>
        <div class="col-md-4 side-bar">

            <div class="secound_half">
                <div class="popular-news">
                    <div class="popular-grids">
                        <div class="popular-grid">
                            <a asp-controller="Home" asp-action="Index">
                                <img src="~/img/ads.jpg" alt=""
                                     style="height: 440px;" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="popular-news">
                    <header>
                        <h3 class="title-popular">populyar Xəbərlər</h3>
                    </header>
                    @foreach (var item in Model.Skip(4).Take(5))
                    {

                        <div class="popular-grid">
                            <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id"><img src="@item.Image1" alt="" /></a>
                            @if (item.Title.Length > 50)
                            {
                                <a class="title" asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">
                                    @item.Title.Remove(50)...
                                </a>
                            }
                            else
                            {
                                <a class="title" asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">
                                    @item.Title
                                </a>
                            }
                            <p>
                                Tarix: @item.Time.ToString("dd-MMMM-yyyy") <a class="span_link" asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">
                                    <span class="glyphicon glyphicon-comment"></span>0
                                </a><a class="span_link"
                                       asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id"><span class="glyphicon glyphicon-eye-open"></span>104 </a><a class="span_link" asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>52
                                </a>
                            </p>
                        </div>
                    }
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>